<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/styles/main.css">
	<title></title>
</head>
<body>
	<div class="p_format">
		<div class="p2_format">
			<img src="">
		</div>
		<div>
			<div><h2 class="head2">BUSINESS DEVELOPMENT</h2></div>
			<main>
				<p>Learning Outline includes:</p>
				<ul>
					<li>Developing a Business Plan</li>
					<li>Business Budgeting</li>
					<li>Business Model Canvas</li>
				</ul>
			</main>
		</div>
	</div>
</body>
</html>