<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/styles/main.css">
	<title></title>
</head>
<body>
	<div class="p_format">
		<div class="p2_format">
			<img src="">
		</div>
		<div>
			<div><h2 class="head2">C.I.P.A LANGUAGE MAKEOVER</h2></div>
			<main>
				<p>Learning Outline includes:</p>
				<ul>
					<li>Patterns of Communication</li>
					<li>Patterns of Confidence</li>
					<li>Patterns of Influence</li>
					<li>Persuasiveness and Autenticity</li>
				</ul>
			</main>
		</div>
	</div>
</body>
</html>