<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>
<body>
	<div class="p_format">
		<div class="p2_format">
			<img src="">
		</div>
		<div>
			<div><h2 class="head2">FINANCIAL ACCOUNTING SYSTEM</h2></div>
			<main>
				<p>Learning Outline includes:</p>
				<ul>
					<li>Introduction to Book Keeping</li>
					<li>General Ledger Accounts</li>
					<li>Recording Transactions, Bank Reconciliation</li>
					<li>Bank Sheet, Income Statements</li>
					<li>Cash Flow Statement</li>
					<li>Accounts</li>
				</ul>
			</main>
		</div>
	</div>
</body>
</html>