<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>
<body>
	<div class="p_format">
		<div class="p2_format">
			<img src="">
		</div>
		<div class="p1_format">
			<div>
				<h1 class="head2">SALES MASTERY FOR LEGAL PRACTICE</h1>	
			</div>
			<main>
				<p>Here,you would learn:</p>
				<ul>
					<li>Basic Selling techniques for lawyers (Jump Start selling)</li>
					<li>How lawyers can sell Legal services</li>
					<li>How to promote legal services by way of marketing</li>
					<li>How to become a good salesperson as a lawyer</li>
					<li>How to get repeat sales</li>
				</ul>
			</main>
		</div>
	</div>
</body>
</html>