<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/styles/main.css">
	<title></title>
</head>
<body>
	<div class="p_format">
		<div class="p2_format">
			<img src="">
		</div>
		<div>
			<div><h2 class="head2">STORYTELLING FOR LEGAL MARKETING</h2></div>
			<main>
				<p>Learning Outline includes:</p>
				<ul>
					<li>Stories for Prospective Client Engagement</li>
					<li>Basic Element of Storytelling</li>
					<li>Craft Marketing Materials</li>
				</ul>
			</main>
		</div>
	</div>
</body>
</html>